<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <style>
        html {
            lang: en;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background-color: #eaeaea;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            opacity: 0; 
            animation: fadeIn 1.5s ease-in-out forwards;
        }

        h1 {
            color: #2c3e50;
            font-size: 3.5em; 
            margin-bottom: 15px; 
        }

        p {
            color: #7f8c8d;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        a {
            color: #3498db;
            text-decoration: none; 
            font-weight: bold;
            transition: color 0.3s ease; 
        }

        a:hover {
            color: #1f618d; 
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
    </style>
</head>
<body role="main">
    <section class="404">
        <h1><span style="color: rgb(255, 105, 105);">404</span> - Page Not Found</h1>
        <p>Oops! The page you are looking for might be building or doesn't exist at all.</p>
        <p>However, you can find a lot of information at <a href="/">home page</a>.</p>
    </section>
</body>
</html>
