<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background-color: var(--background-light);
            color: var(--text-light);
            transition: background-color 0.3s, color 0.3s;
        }

        section {
            padding: 4em 0;
        }

        h1 {
            color: var(--heading-color);
        }

        .hero-section, .spacer {
            background: url('your-image-url.jpg') center/cover no-repeat;
            color: var(--para-color);
            text-align: center;
            padding: 150px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: color 0.3s; 
        }

        .hero-section h1 {
            font-size: 3em;
            margin-bottom: 20px;
            color: var(--heading-color);
        }

        .hero-section p {
            font-size: 1.5em;
            margin-bottom: 30px;
        }


        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            font-size: 1.2em;
        }

        /* ---------------------------------------Toggle button CSS-------------------------------------------------------- */

        :root {
            --background-light: #f8f9fa;
            --background-dark: #343a40;
            --text-light: #333;
            --text-dark: #fff;
            --link-light: #444;
            --link-dark: #444;
            --heading-color: #000000;
            --heading-color-dark: #d1d1d1; 
            --para-color: #575757;
            --para-color-dark: #8e8e8e;

        }

        #toggle-mode-button {
            background-color: var(--link-light);
            color: var(--background-light);
            border: 2px solid var(--link-light);
            padding: 10px 15px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        #toggle-mode-button:hover {
            background-color: var(--background-light);
            color: var(--link-light);
        }

        #toggle-mode-button.dark-mode {
            background-color: var(--link-dark);
            border-color: var(--link-dark);
            color: var(--background-dark);
        }

        #toggle-mode-button.dark-mode:hover {
            background-color: var(--background-dark);
            color: var(--link-dark);
        }

        /* -------------------------Toggle button CSS ends------------------------------------------ */

        html {
            scroll-behavior: smooth;
        }
        
        .container p mark {
    background-color: #70ffbfca; /* Background color for the highlighted text */
    color: #333; /* Text color for the highlighted text */
}

    </style>
</head>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const body = document.body;
        const toggleButton = document.getElementById('toggle-mode-button');

        const isDarkMode = localStorage.getItem('darkMode') === 'true';
        setTheme(isDarkMode);

        toggleButton.addEventListener('click', function () {
            const newMode = !body.classList.contains('dark-mode');
            setTheme(newMode);
            localStorage.setItem('darkMode', newMode);
        });

        function setTheme(isDarkMode) {
            body.classList.toggle('dark-mode', isDarkMode);
            body.style.backgroundColor = isDarkMode ? getComputedStyle(document.documentElement).getPropertyValue('--background-dark') : getComputedStyle(document.documentElement).getPropertyValue('--background-light');
            body.style.color = isDarkMode ? getComputedStyle(document.documentElement).getPropertyValue('--text-dark') : getComputedStyle(document.documentElement).getPropertyValue('--text-light');

            const headingColor = isDarkMode ? getComputedStyle(document.documentElement).getPropertyValue('--heading-color-dark') : getComputedStyle(document.documentElement).getPropertyValue('--heading-color');
            document.querySelectorAll('.hero-section h1').forEach(h1 => {
                h1.style.color = headingColor;
            });

            const paragraphColor = isDarkMode ? getComputedStyle(document.documentElement).getPropertyValue('--para-color-dark') : getComputedStyle(document.documentElement).getPropertyValue('--para-color');
            document.querySelectorAll('.hero-section p').forEach(p => {
                p.style.color = paragraphColor;
            });
            const h3Color = isDarkMode ? getComputedStyle(document.documentElement).getPropertyValue('--heading-color-dark') : getComputedStyle(document.documentElement).getPropertyValue('--heading-color');
            document.querySelectorAll('.hero-section h3').forEach(h3 => {
                h3.style.color = h3Color;
            });
        }
    });

    const navLinks = document.querySelectorAll('.navbar-nav a.nav-link');

    navLinks.forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault();

            const targetId = this.getAttribute('href').substring(1);
            const targetElement = document.getElementById(targetId);

            if (targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth'
                });
            }
        });
    });

</script>


<body>
  

<%- include('header') %>


    <section class="hero-section" id="home">
        <div class="container">
            <h1>Hi, my name is Tushar,</h1>
            <p>I am a <mark>tech enthusiast</mark> who likes to code!!!!!</p>
            <a href="../resume/Tushar_Bhanot_Resume.pdf" class="btn btn-success" download>Download Resume</a>
          </div>
    </section>

    
    <section class="hero-section" id="about">
        <div class="container">
            <h1>About Me...</h1>
            <h3>Hello there! 👋 I'm Tushar, a passionate and dedicated computer programmer based in Canada. I have a deep love for technology and a knack for turning ideas into reality through coding and design.</h3>
            <div class="spacer">
                <h1>My Approach...</h1>
                <h3> Coding is not just a skill for me, rather it is a way for me to bring innovations and ideas to reality in this virtual era. I really like to think and understand the "why" behind any question and am always trying to find the easiest and shortest answer to those "whys"🤔.</h3>
            </div>
                <h1>Beyond Coding...</h1>
                <h3>Outside of this computer🖥️ realm I can be seen listening to podcasts and music. Also, to refreshen my body and eyes I usually take some walks or drive around to some cool and peacful places, P.S: i like to be around nature🍀 a lot. Lastly, looking up for and reading about latest news on tech is a must in my regular tasks.</h3>
          </div>
    </section>


    <section class="hero-section" id="portfolio">
        <div class="container">
            <h1>My portfolio, some skills I know</h1>
            <p>Here are the languages i like to use</p>
          </div>
    </section>


    <section class="hero-section" id="projects">
        <div class="container">
            <h1>My projects</h1>
            <p>TThese are my projects</p>
          </div>
    </section>


    <section class="hero-section" id="contact">
        <div class="container">
            <h1>Let's Connect</h1>
            <p>here's my contact info</p>
          </div>
    </section>


<%- include('footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
